@font-face {
	font-family: "AvenirNext-Medium";
	src: url(../fonts/AvenirNext-Medium/AvenirNext-Medium.ttf);
}

@font-face {
	font-family: "Avenir-Heavy";
	src: url(../fonts/Avenir-Heavy/Avenir-Heavy.ttf);
}

@font-face {
	font-family: "MuseoSansBold";
	src: url(../fonts/MuseoSansBold/MuseoSansBold.ttf);
}